{{#get "posts" limit="all"}}
  {{#foreach posts}}
  <div class="post-preview-area">
        <h4><time class="text-muted" datetime="{{date format="YYYY-MM-DD"}}"><i style="margin-right:10px;" class="fa fa-calendar"></i>{{date format="MMMM D, YYYY"}}</time></h4>
        <h2><a class="post-title" href="{{url}}">{{title}}</a></h2>
        <img src="{{image}}" />
        <p>{{excerpt words="100"}} <a class="read-more" href="{{url}}">Read more &raquo;</a></p>
  </div>
  {{/foreach}}
{{/get}}