{{!< default}}

{{#post}}

<div class="post">


<h1 class="post-title">{{title}}</h1>
<div class="post-meta">
  <time class="post-date text-muted" datetime="{{date format="YYYY-MM-DD"}}"><i style="margin-right:10px;" class="fa fa-calendar"></i>{{date format="MMMM D, YYYY"}}, </time>
  {{#if tags}}
  <div class="text-muted post-tags">
  In: 
    {{tags separator=", "}}
  </div>
  {{/if}}
</div>
{{#if image}}
  <img class="post-img" src="{{image}}" />
{{/if}}
{{> "share"}}
  {{content}}
</div>

{{/post}}